body{
  background-color:darkgray
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.App-header{
  color: aliceblue;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color:slategrey

}

button{
  display: flex;
  margin: auto;
  align-items: center;
  padding: 20px;
  border: 2px solid;
  border-radius: 5px;
  
}

button > svg{
  margin-right: 7px;
  color: green;
}

button.lg{
  padding: 80px;
}

button.sm{
  padding: 2px;
}

.green{
  background-color: lightgreen;
  color: green;
}
.yellow{
  background-color: yellow;
  color: rgba(79, 79, 57, 0.247);

}
.red{
  background-color: lightcoral;
  color: red;
}
