body{
  background-color:darkgray
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}

.App-header{
  color: aliceblue;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color:slategrey

}

button{
  display: flex;
  margin: auto;
  align-items: center;
  padding: 10px;
}

button > svg{
  margin-right: 7px;
}
